<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ccleaner" version="5.68.7820.20200625" />
  <package id="chocolatey" version="0.10.15" />
  <package id="chocolatey-core.extension" version="1.3.5.1" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.3.1" />
  <package id="chocolatey-visualstudio.extension" version="1.8.1" />
  <package id="chocolateygui" version="0.17.1" />
  <package id="cmake" version="3.17.3" />
  <package id="cmake.install" version="3.17.3" />
  <package id="docker-toolbox" version="19.03.1" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="dotnet4.7.1" version="4.7.2558.20190226" />
  <package id="dotnetfx" version="4.8.0.20190930" />
  <package id="Firefox" version="78.0.1" />
  <package id="git.install" version="2.27.0" />
  <package id="github-desktop" version="2.5.3" />
  <package id="GoogleChrome" version="83.0.4103.116" />
  <package id="iobit-uninstaller" version="9.6.0.2" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="mingw" version="8.1.0" />
  <package id="miniconda3" version="4.7.12.1" />
  <package id="PartitionMasterFree" version="13.5" />
  <package id="sourcetree" version="3.3.9" />
  <package id="steam" version="3.0.1.20190215" />
  <package id="thunderbird" version="68.10.0" />
  <package id="ultradefrag" version="7.1.4" />
  <package id="unchecky" version="1.2" />
  <package id="vagrant" version="2.2.9" />
  <package id="virtualbox" version="6.1.10" />
  <package id="vscode" version="1.46.1" />
  <package id="vscode.install" version="1.46.1" />
  <package id="xmedia-recode" version="3.5.0.1" />
</packages>