<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="afedteated" version="13.3.0.232" />
  <package id="chocolatey" version="0.10.15" />
  <package id="chocolatey-core.extension" version="1.3.5.1" />
  <package id="chocolateygui" version="0.16.0" />
  <package id="docker-toolbox" version="19.03.1" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="driverbooster" version="7.3.0.675" />
  <package id="Firefox" version="74.0" />
  <package id="git.install" version="2.25.1" />
  <package id="iobit-malware-fighter" version="7.6.0.5846" />
  <package id="teraterm" version="4.105" />
  <package id="thunderbird" version="68.6.0" />
  <package id="vagrant" version="2.2.7" />
  <package id="virtualbox" version="6.1.4" />
  <package id="vscode" version="1.43.2" />
  <package id="vscode.install" version="1.43.2" />
</packages>